﻿@using HealthDataBase.Domain.Entities
@model users

@{
    Layout = null;
}

<!DOCTYPE html>


    @RenderPage("_defaultPage.cshtml")
    <div class="panel panel-success">
        <div class="panel-heading text-center">
            <h4>Add User</h4>
        </div>
        <div class="panel-body text-center">
            @using (Html.BeginForm("SaveUser", "Admin"))
            {
                @Html.ValidationSummary()
                @Html.HiddenFor(model => model.UserId);
                <div class="form-group col-md-5">
                    <label>User Name:</label>
                    @Html.TextBoxFor(i => i.UserName, new { @class = "form-control" })
                </div>
                    <div class="form-group col-md-5">
                        <label>Password:</label>
                        @Html.TextBoxFor(i => i.UserPassword, new { @type = "password", @class = "form-control" })
                    </div>
                    <div class="form-group col-md-5">
                        <label>First Name:</label>
                        @Html.TextBoxFor(i => i.FirstName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-5">
                        <label>Last Name:</label>
                        @Html.TextBoxFor(i => i.LastName, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-5">
                        <label>Email Address: </label>
                        @Html.TextBoxFor(i => i.EmailAddress, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-5">
                        <label>Phone Number:</label>
                        @Html.TextBoxFor(i => i.PhoneNumber, new { @class = "form-control" })
                    </div>
                    <div class="form-group col-md-5">
                        <label>User Type:</label>
                        @Html.DropDownList("UserType", new SelectList(Enum.GetNames(typeof(TypeOfUsers))), "Select User Type", new { @class = "form-control" })
                    </div>
                    <div class="text-center">
                        <input type="submit" name="_btnSubmit" value="Save Info" class="btn btn-success" />
                    </div>
                    <div class="text-center">
                        <input type="submit" name="_btnSubmit" value="Delete User" class="btn btn-danger" />
                    </div>
            }
        </div>
    </div>

