﻿@using HealthDataBase.Domain.Entities
@model users
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/scripts/bootstrap.min.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
          $("#search").autocomplete({
              source: function (request,response) {
                  //debugger;
                  $.ajax({
                      url: '@Url.Action("auto", "Home")',
                      dataType: 'json',
                      method: 'POST',
                      data: { Prefix: request.term },
                      success: function (data) {
                          response($.map(data, function (item) {
                              return { label: item, value: item }
                          }))
                      }
                  });
              }
          })});
    </script>

</head>
<body>
    @{users userEntity = Session["User"] as users;}
   <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="collapsed navbar-toggle" data-toggle="collapse" data-target="#nbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <div>
                   <a class="navbar-brand" href="#"><p>Health Center</p></a>
                </div>
            </div>
            <div class="collapse navbar-collapse" id="nbar">
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Home", "index","Home")</li>    
                    <li>@Html.ActionLink("About Us","AboutUs", "Home")</li>
                    <li>@Html.ActionLink("Near By Clinics","NearByClinics", "Home")</li>
                    <li>@Html.ActionLink("Contact Us","ContactUs", "Home")</li>
                    @if (Session["User"] != null)
                    {
                    if (userEntity.UserType == TypeOfUsers.User)
                    {

                        if (Session["LoginState"] != null)
                        {
                            <li>@Html.ActionLink("Acount page", "UserHome", "User")</li>
                        }
                    }
                    if (userEntity.UserType == TypeOfUsers.Admin)
                    {
                        if (Session["LoginState"] != null)
                        {
                            <li>@Html.ActionLink("Acount page", "AdminHome", "Admin")</li>
                        }
                    }
                    if (userEntity.UserType == TypeOfUsers.Doctor)
                    {
                        if (Session["LoginState"] != null)
                        {
                            <li>@Html.ActionLink("Acount page", "DoctorHome", "Doctor")</li>
                        }
                    }
                    }
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["LoginState"] != null && (Session["LoginState"] as bool?) == true)
                    {
                        <li><a data-toggle="modal" data-target="#USERPOP" href="#"><span class="glyphicon glyphicon-tower"></span> @Session["UserName"]</a></li>
                        <li><a  href="@Url.Action("LogOut","User")"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
                    }
                    else
                    {
                        <li><a data-toggle="modal" data-target="#SignUpPOP" href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>


                        <li><a data-toggle="modal" data-target="#LOGINPOP" href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                    }

                  
                  
                    </ul>
            </div>
        </div>
    </nav>
    <div class="modal fade" id="SignUpPOP" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sign Up</h4>
                </div>
                <div class="modal-body">
                    <div class="container" style="width:400px; margin:auto;">
                        @using (Html.BeginForm("SignUp","Home"))
                        {
                            <div class="form-group">
                                <label>First Name</label>@Html.TextBox("FirstName", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Last Name</label>@Html.TextBox("LastName", "", new { @class = "form-control" })

                            </div>
                            <div class="form-group">
                                <label>Email Address</label>@Html.TextBox("EmailAddress", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Phone Number</label>@Html.TextBox("PhoneNumber", "", new { @class = "form-control" })
                            </div>

                            <div class="form-group">
                                <label>Username</label>@Html.TextBox("UserName", "", new { @class = "form-control" })
                            </div>
                            <div class="form-group">
                                <label>Password</label>@Html.TextBox("UserPassword", "", new { type = "password", @class = "form-control" })
                            </div>
                            <div>
                                <input class="btn btn-success" type="submit" name="_btnSignup" value="Sign Up" />
                            </div>
                        }
                    </div>
                </div>
                <div class="modal-footer">
                    <p class="text-center text-danger">@ViewBag.error</p>
                    <button type="button" class="btn btn-default text-center" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <div class="modal fade" id="LOGINPOP" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Login</h4>
                   @using (Html.BeginForm("LogIn", "Home"))
                   {
                    <div class="form-group">
                        <label>Username</label>@Html.TextBox("username", "", new {  @class = "form-control" })
                    </div>
                        <div class="form-group">
                            <label>Password</label>@Html.TextBox("password", "", new {type="password", @class = "form-control" })
                        </div>
                        <div>
                            <input class="btn btn-success" type="submit" name="_btnLogIn" value="Log In" />
                        </div>
                   }
                    <div>
                        <div class="modal-footer">
                            <p class="text-center text-danger">@ViewBag.error</p>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
            </div>
        </div>
     </div>
   </div>
    @if (userEntity != null)
    {
        <div class="modal fade" id="USERPOP" role="dialog">
            <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">@userEntity.FirstName</h4>
                        <p>User Info: @userEntity.LastName</p>
                        <p>User Type: @userEntity.UserType</p>
                        <p>User Phone Number: @userEntity.PhoneNumber</p>
                        <div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }
    
    
</body>
</html>
