﻿@using HealthDataBase.Domain.Entities
@model users
@{
    Layout = null;
}

<!DOCTYPE html>
<!--
Fahad Mirza
code from w3school.com
-->
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/scripts/jquery-3.1.1.js"></script>
    <link rel="stylesheet" href="~/Content/bootstrap-theme.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <script src="~/scripts/bootstrap.min.js"></script>


</head>
<body>
   @RenderPage("_header.cshtml")
    <!--main content-->
    <div class="container">
        <div class="col-md-8">
        <p>We created this site in order to help people find possible treatments for their illnesses and also help 
            them solve health related problems faster than ever.</p>
        </div>
    </div>
</body>
</html>
