﻿@model HealthDataBase.Domain.Entities.users

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SignUp</title>
</head>
<body>
    @RenderPage("_header.cshtml")
    <div> 
        <p>Thank you @Model.FirstName for Signing up</p>
        @Html.ActionLink("Home","index")
    </div>
</body>
</html>
