﻿@using HealthDataBase.Domain.Entities


@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>View Illness Details</title>
    
    <style>
        #map {
            height: 100%;
        }
    </style>

    <script>
        var map;
        var infowindow;
        var LatLng;

        function initMap() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (p) {
                    LatLng = new google.maps.LatLng(p.coords.latitude, p.coords.longitude);
                    var pyrmont = LatLng;

                    map = new google.maps.Map(document.getElementById('map'), {
                        center: pyrmont,
                        zoom: 15
                    });

                    infowindow = new google.maps.InfoWindow();
                    var service = new google.maps.places.PlacesService(map);
                    service.nearbySearch({
                        location: pyrmont,
                        radius: 5000,
                        type: ['hospital']
                    }, callback);

                    var marker = new google.maps.Marker({
                        position: pyrmont,
                        map: map,
                        title: 'Your Location',
                        label: 'You'
                    });

                });
            } else {
                alert('Geo Location feature is not supported in this browser.');
            }

        }

        function callback(results, status) {
            if (status === google.maps.places.PlacesServiceStatus.OK) {
                for (var i = 0; i < results.length; i++) {
                    createMarker(results[i]);
                }
            }
        }

        function createMarker(place) {
            var placeLoc = place.geometry.location;
            var marker = new google.maps.Marker({
                map: map,
                position: place.geometry.location
            });

            google.maps.event.addListener(marker, 'click', function () {
                infowindow.setContent(place.name);
                infowindow.open(map, this);
            });
        }

    </script>

</head>
<body>
    @RenderPage("_header.cshtml") 
    <div id="map" style="height:500px; width:500px; margin:auto;"></div>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuhdOzuwk8oKJa1oFuhD9UCaEZ_j7YmiU&libraries=places&callback=initMap" async defer></script>

    
    <div class="container text-center">
        @{ illness ill = Session["ill"] as illness;}
        <p style="font-weight:bold" class="text-capitalize">Illness Name:</p> @ill.Name
        <p style="font-weight:bold" class="text-capitalize">Illness Symptoms:</p> @ill.Symptoms
        <p style="font-weight:bold"  class="text-capitalize">Illness Treatment:</p> @ill.treatment
        @if(ill.Priority == TypeOfPriority.Low)
        {
            <p style="font-weight:bold"  class="text-capitalize">Visit any local clinics for check-up</p>
        }
        else
        {
            <p style="font-weight:bold"  class="text-capitalize text-danger">Please visit hospital to see specialist immediately</p>
        }
        @Html.ActionLink("Go Back to Home Page","Index")
    </div>
</body>
</html>
