﻿@model HealthDataBase.Domain.Entities.illness

<!---->
@RenderPage("_Userheader.cshtml")

<div class="jumbotron" style="margin-top:-25px;">
    <h1 class="text-center">Welcome to the HealthData Base</h1>
</div>
<div class="container">
   
    <div class="col-md-8 ">
       <h1>Change PhoneNumber</h1>
        @using (Html.BeginForm("ChangePhone", "User", "Post"))
        {
            <div class="form-group">
                <label>Phone Number</label>@Html.TextBox("PhoneNumber", "", new { @class = "form-control" })
            </div>
            <input class="btn " type="submit" value="Change" />
        }

    </div>
    <div class="col-md-8 ">
        <h1>Change Email</h1>
        @using (Html.BeginForm("ChangeEmail", "User", "Post"))
        {
            <div class="form-group">
                <label>Email</label>@Html.TextBox("Email", "", new { @class = "form-control" })
            </div>
            <input class="btn btn-default" type="submit" value="Change" />
        }

    </div>
   
    <div id="changePassword" class="col-md-8 ">
        
        <h1>Change Password</h1>
        @using (Html.BeginForm("ChangePassword", "User", "Post"))
        {
            <div class="form-group">
                <label>Password</label>@Html.TextBox("Password", "", new { @class = "form-control" })
            </div>
            <input class="btn btn-danger" type="submit" value="Change" />
        }

    </div>
    
</div>



